/* Base styles for the main and navigation */
.main {
  display: flex;
  height: 100vh;
  overflow: hidden;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.nav__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #333;
  padding: 0 5px;
  transition: width 0.3s ease, transform 0.3s ease;
  height: 100%;
  box-shadow: 2px 0 4px rgba(0, 0, 0, 0.1);
  width: 250px; /* Chiều rộng mặc định khi màn hình lớn */
}

.nav__container.open {
  width: 70px; /* Khi thu nhỏ nav, chỉ hiện icon */
}

.nav__toggle {
  cursor: pointer;
  margin-bottom: 10px;
}

.nav__toggle i {
  font-size: 20px;
  color: white;
}

.nav__item {
  text-decoration: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #444;
  color: white;
  border-radius: 8px;
  margin: 5px 0;
  padding: 10px 10px;
  width: 100%; 
  text-align: center;
  transition: background-color 0.3s;
}

.nav__item i {
  font-size: 30px;
  margin-bottom: 5px;
 
}

.nav__item p {
  margin: 0 ;
  font-size: 20px;
  text-align: center;
  margin-left: 20px;
  display: inline;
  margin-left: 20px;
}

.main__content {
  flex: 1;
  background-color: #f9f9f9;
  transition: margin-left 0.3s ease;
}

.main__menu {
  display: flex;
 
  align-items: center;
  padding: 10px;
  background-color: #333;
  color: white;
}

.main__menu h2 {
  margin-left: 20px;
font-size: 30px;

}

.main__menu i {
  font-size: 40px;
  cursor: pointer;
}

/* Responsive design */
@media(max-width: 1000px) {
  .nav__container {
    width: 180px;
   
  }


}
@media (max-width: 680px) {
  .nav__container {
    width: 0;
    padding: 0;
  }

  .nav__container.open {
    width: 70px;
    padding: 0;
  }

  .nav__item {
    flex-direction: column;
    align-items: center;
    width: 80%;
    padding: 10px 5px;
  }

  .nav__item p {
    display: none; /* Ẩn tên khi kích thước nhỏ */
  }
}

.nav__spacer {
  flex: 1;
}

.nav__item--active {
  background-color: #0e8832;
}
