/* Import the FontAwesome CSS in your HTML file or through a JavaScript bundler */

* {
    box-sizing: border-box;
}

.login {
    font-family: 'Arial', sans-serif;
    background: linear-gradient(135deg, #1c0d63 0%, #4f3180);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.login__box {
    background-color: white;
    border-radius: 10px;
    padding: 30px;
    width: 350px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.login__title {
    margin-bottom: 40px;
    font-size: 30px;
    color: #333;
    font-weight: bold;
}

.login__input-group {
    margin-bottom: 15px;
}

.login__input-group label {
    display: flex;
    align-items: center;
    background-color: #f0f0f0;
    border-radius: 5px;
    padding: 10px;
}

.login__input-group input {
    border: none;
    background: none;
    outline: none;
    width: 100%;
    padding-left: 10px;
    font-size: 16px;
}

.login__input-group input::placeholder {
    color: #aaa;
}

.login__icon {
    color: #aaa;
    font-size: 18px;
}

.login__forgot-password {
    text-align: right;
    margin-bottom: 20px;
}

.login__forgot-password a {
    color: #666;
    font-size: 14px;
}

.login__button {
    background: linear-gradient(to right, #00c6ff, #0072ff);
    border: none;
    padding: 12px;
    color: white;
    border-radius: 25px;
    width: 100%;
    cursor: pointer;
    font-size: 16px;
    transition: 0.3s ease;
}

.login__button:hover {
    background: linear-gradient(to right, #0072ff, #00c6ff);
}

.login__social-login {
    margin-top: 20px;
}

.login__social-login p {
    margin-bottom: 10px;
}

.login__social-icons {
    display: flex;
    justify-content: center;
    gap: 15px;
}

.login__social-icon {
    font-size: 24px;
    cursor: pointer;
    transition: 0.3s ease;
}

.login__social-icon:hover {
    color: #0072ff;
}

.fab {
    color: #aaa;
}
